.composition {
	position: relative;

	&__photo {
		position: absolute;
		width: 55%;
		border-radius: 0.4rem;
		box-shadow: 0 1.5rem 4rem rgba($color-black, 0.4);
		transition: all 0.2s;
		outline-offset: 1.1rem;

		@include responsive (tab-portrait) {
			position: relative;
			float: left;
			width: 33.3333%;
			box-shadow: 0 1rem 2rem rgba($color-black, 0.2);
			outline-offset: .8rem;
			text-align: center;

		}

		&--p1 {
			left: 0;
			top: 0;
		}

		&--p2 {
			right: 0;
			top: 5rem;

			@include responsive(tab-portrait) {
				left: -3rem;
				top: -1rem;
			}
		}

		&--p3 {
			left: 20%;
			top: 12rem;

			@include responsive(tab-portrait) {
				left: -5rem;
				top: 1rem;
			}
		}

		&:hover {
			outline: 0.8rem solid $color-primary;
			transform: scale(1.1);
			box-shadow: 0 2.5rem 4rem rgba($color-black, 0.5);
			z-index: +1;
		}
	}

	&:hover &__photo:not(:hover) {
		transform: scale(0.9);
	}
}